<div class="panel panel-primary">
  <div class="panel panel-primary">
    {{About}}
  </div>
  <div class="panel-body">
   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>s.no</th>
          <th>Title</th>
          <th>Driector</th>
          <th>Actor</th>
        </tr>
      </thead>
      <tbody>
        <tr  [ngClass]='{"bg-danger":o,"bg-success":e ,"bg-warning":f}'
        *ngFor="let movie of Movies; let i=index; let o=odd; let e=even ;let f=first;let l=last ">
          <td>{{i+1}}</td>
          <td>{{movie.Name}}</td>
          <td>{{movie.Director}}</td>
          <td>{{movie.Actor}}</td>
        </tr>
      </tbody>
    </table>
   </div>
  </div>
</div>

<ul>
  <li>
    {{Movies[0].Name}}
  </li>
</ul>
